*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-color: #e7edfb;
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.container{
    width: 80%;
    margin: 0 auto;
    height: 80%;

    display: flex;
    align-items: center;
}



/* _________________ Left Side Styles_____________________- */
.left-side{
    width: 50%;
    height: 80vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 10% 5%;

    
}
.left-side h1{
    color: #38a4b7;
    font-size: 4rem;
}
.input{
    display: flex;
    gap: 10%;
}
.input-size{
    width: 30%;
    padding: 0.5rem 1rem ;
    margin: 1rem 0;
}
.input-style{
    border: 0;
    background-color: #adaaaa3d;
    outline: 0;
    border-radius: 0.3rem;
}
.inputs{
    height: 50%;
}
.email{
    width: 70%;
    padding: 0.5rem 1rem;
}
button{
    width: 50%;
    padding: 0.5rem 0;
    border: 0;
    border-radius: 0.5rem;
    background-color: #38a4b7;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}


/* ______________________ Right Side Styles__________________ */
.right-side{
    background-image:  url(home-page-img.jpg);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 80vh;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    padding: 5%;
}

.right-side h2{
    font-size: 4rem;
}

/* ____________________ Small screen responsive___________________ */
@media screen and (max-width: 576px) {
    .container{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .left-side, .right-side{
        width: 100%;
        height: 100%;
        align-items: center;
        gap: 5%;
        padding-bottom: 20%;
    }
    .right-side{
        height: calc(200% + 20%);
        gap: 0;
    }
    .right-side button{
        margin-top: 1rem;
    }
    .input{
        gap: 5%;
    }
    .input-size{
        width: 80%;
    }
    .email{
        width: 100%;
    }
    .left-side h1, .right-side h2{
        font-size: 3.5rem;
    }
    .left-side button{
        margin-top: 10%;
    }
}

/* __________ Medium screen responsive_____________________ */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .container{
        width: 100%;
        height: 100%;
    }
    .left-side h1, .right-side h2{
        font-size: 3rem;
    }
    .inputs{
        margin-top: 10%;
    }
    .left-side{
        gap: 5%;
    }
    .left-side, .right-side{
        height: 100%;
    }
    
}