* {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7edfb;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* _____________________ left side styles__________________________- */
.home-bg {
    width: 50%;
    background-image: url(home-page-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 5rem;
}

.home-bg p {
    width: 50%;
}

/* ________________________ Login forms styles__________________________ */

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 80vh;
    background-color: #fff;
}
.login-form p{
    width: 50%;
    margin-top: 2.5rem;
}
form{
    margin-top: 3em;
    width: 50%;
    text-align: right;

}

form input, button{
    margin-top: 1rem;
}

input{
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: #f7f7f7;
    border: none;
    border-left: 0.4rem solid #057277;
    outline: 0;
}

.login-form h2{
    font-size: 3rem;
    color: #38a4b7;
}

.login-btn{
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: #057277;
    color: #fff;
    border-radius: 0.3rem;
    border: 0;
    outline: 0;
}

.create-btn{
    margin-top: 3rem;
    width: 100%;
    background-color: #38a4b7;
    padding: 0.5rem 0;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    border: 0;
    outline: 0;
    border-radius: 0.4rem;
}


/* _______________________ Small Device Responsive____________________ */
@media screen and (max-width: 576px) {
    
    .container{
        width: 100%;
        flex-direction: column;
    }
    .home-bg{
        width: 100%;
        height: 50%;
    }
    .login-form{
        width: 100%;
    }
    h1{
        font-size: 2rem;
    }
    .title p {
        margin-top: 5%;
        font-size: calc(50% + 1vw);

    }
    .title{
        height: 35vh;
    }

    .login-form h2{
        font-size: 2rem;
        margin-top: 0;
    }
    .login-form p{
        font-size: calc(50% + 1vw);
        margin-top: 2%;
    }

    form{
        margin-top: 2%;    
    }
}

/* _______________________________ Medium screen responsive______________________ */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    h1{
        /* font-size: 3.8rem; */
        font-size: calc(50% + 5vw);
    }
    .login-form h2{
        font-size: calc(50% + 5vw);
    }
}